body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: none;
  }
  
  
  /* Começo aside Sesi */
  
#asideSesi {
    padding: 0 20px;
    width: 21%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    border-right: 1px black solid;
    height: 100vh;
  }
  
  #logoSesi {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  
  
  
  /* input pesquisa */
  #formPesquisa {
    display: flex;
    border: 2px solid #E5383B;
    border-radius: 35px;
    padding: 1.5%;
    align-items: center;
    margin: 10px 0 20px 0;
  }
  
  #iconSearch {
    background-color: #E5383B;
    padding: 5px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
  }
  
  #inputPesquisa {
    border: none;
    outline: none;
    font-size: 15px;
    margin: 0 10px 0 10px;
  }
  
  /* fim input pesquisa */
  
  
  
  
  /* box icons */
  #aside_BoxIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #boxIcon {
    display: flex;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    cursor: pointer;
  }
  
  #boxIcon:hover {
    background-color: #D3D3D3;
  }
  
  .titleBoxIcon {
    font-size: 18px;
    color: #E5383B;
  }
  
  .imgIcon {
    margin-right: 18px;
  
  }
  
  /* fim box icons */
  
  
  
  /* input container */
  .input-container {
    margin-top: 25px;
    display: inline-block;
    position: relative;
    /* necessário para o posicionamento do dropdown */
  }
  
  .custom-input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #6e6e6e;
    background-color: white;
    border: 1px solid #f44336;
    border-radius: 5px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    min-width: 200px;
    justify-content: space-between;
  }
  
  .custom-input .arrow {
    font-size: 12px;
    margin-left: 10px;
    color: #6e6e6e;
  }
  
  .dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f44336;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 100%;
    /* faz o dropdown aparecer logo abaixo do botão */
    left: 0;
    width: 100%;
    display: none;
    /* inicialmente escondido */
    z-index: 1;
  }
  
  .dropdown li {
    padding: 8px 10px;
    color: #6e6e6e;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #D3D3D3;
  }
  
  /* fim input container */
  
  
  
  /* linha vertical */
  .linha-vertical {
    width: 3px;
    background-color: #ccc;
    height: 97vh;
  }
  
  /* fim linha vertical */
  
  
  /* Sair */
  #sair {
    display: flex;
    align-items: center;
    background-color: #E5383B;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 10px;
    margin-top: 20px;
    cursor: pointer;
    height: 60px;
    margin-top: 30px;
  }
  
  #iconExit {
    margin-right: 8px;
  }
  
  .criar p {
    background-color: #E5383B;
    color: white;
    padding: 8px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .criar {
    position: fixed;
    right: 30px;
    bottom: 5%;
    z-index: 99;
  }
  
  /* fim Sair */
  
  
  
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  #tituloDescricao,
  #descricao {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .criar {
    cursor: pointer;
  }
  
  .criar p:hover {
    background-color: #BA181B;
  }
  
  #criarmodal {
    align-items: center;
  }
  
  #criarmodal .modal-content .botoes button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
  
  
    background-color: #f3f7fe;
    color: #E5383B;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 30%;
    height: 35px;
    transition: 0.3s;
  }
  
  #criarmodal .modal-content .botoes button:hover {
    background-color: #E5383B;
    box-shadow: 0 0 0 5px #e5383b52;
    color: #fff;
  
  }
  
  #criarmodal .modal-content .botoes {
    display: flex;
    justify-content: space-around;
  
  }
  
  #criarmodal .modal-content #descricao {
    font-family: "Poppins", sans-serif;
    border: 2px solid #E5383B;
    border-radius: 10px;
    resize: none;
  }
  
  #criarmodal .modal-content h2 {
    color: #E5383B;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  
  #tituloDescricao {
    border: 2px solid #E5383B;
    border-radius: 10px;
    padding: 3px;
    font-family: "Poppins", sans-serif;
  }
  
  #botaoAplicar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    background-color: #f3f7fe;
    color: #E5383B;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 70%;
    height: 35px;
    transition: 0.3s;
    margin: 15px;
  }
  
  #botaoAplicar:hover{
    background-color: #E5383B;
    box-shadow: 0 0 0 5px #e5383b52;
    color: #fff;
  
  }
  
  #areaBotaoAplicar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #imagemOCR {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  #escolherImg {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #containerImg {
    border-radius: 8px;
    width: 100%;
    height: 300px;
  }
  
  #imagemCapturada {
    width: 100%;
    height: 270px;
  }
  
  
  
  /* Estilos para o main */
  /* main {} */
  
  #mainSesi {
    margin-top: 40px;
    width: 70%;
    display: flex;
    gap: 30px;
    margin-left: 60px;
    margin-right: 60px;
    height: 100vh;
  }
  
  
  
  /* .note button {} */
  
  .note {
    border: #ffffff 2px solid;
    border-radius: 10px;
    height: 30%;
    justify-content: space-between;
    width: 31%;
    min-width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    background-color: #D9D9D9;
    position: relative;
  
  }
  
  .note h3 {
    font-family: "Poppins", sans-serif;
    max-width: 90%;
    text-align: center;
  }
  
  .note p {
    font-family: "Poppins", sans-serif;
    max-width: 90%;
    text-align: center;
    text-align: justify;
    overflow: hidden;
    display: none;
  }
  
  .note button {
    background-color: #f3f7fe;
    color: #E5383B;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 45%;
    /* Ajuste a largura para caber os dois botões */
    height: 30px;
    transition: 0.3s;
    margin: 5px;
    /* Adicione margens para espaçamento */
  }
  
  
  
  .note button:hover {
  
    background-color: #E5383B;
    box-shadow: 0 0 0 5px #e5383b52;
    color: #fff;
  }
  
  
  
  
  
  
  
  .janela-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 99;
  }
  
  .janela-modal.abrir {
    display: flex;
  }
  
  .janela-modal .janela {
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
  }
  
  .janela-modal .janela .titulo {
    color: #000000c2;
    font-size: 30px;
    margin-top: 10px;
  }
  
  .janela-modal .janela .anexo {
    color: #000000a2;
    cursor: pointer;
    margin-top: 10px;
  }
  .janela-modal .janela .anexo:hover{
    color: #0056b3;

  }
  
  .janela-modal .janela p {
    text-align: justify;
    margin-top: 10px;
  }
  
  
  
  .janela-modal .janela .salvar {
    color: #ffffff;
    background-color: #E5383B;
    border-radius: 10px;
    height: 4vh;
    width: 15%;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .janela-modal .janela .salvar:hover {
    background-color: #e41c20;
  }
  
  .janela-modal .janela .salvar .fa-check {
    padding-right: 5px;
  }
  
  
  header {
    display: none;
  }
  
  
  * {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  header {
    background-color: #24252a00;
    width: 100vw;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h1 {
    color: #fff;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
  }
  
  .login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
  }
  
  .login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  .mobile-menu {
    display: none;
    /* O menu começa oculto */
    opacity: 0;
    max-height: 0;
    /* O menu começa com altura 0 */
    overflow: hidden;
    /* Para ocultar o conteúdo fora do contêiner quando ele está fechado */
    transition: max-height 0.5s ease, opacity 0.5s ease;
    /* Suavização do efeito de abrir/fechar */
  }
  
  /* Quando a classe 'open' é adicionada, alteramos a altura e a opacidade */
  .mobile-menu.open {
    display: block;
    opacity: 1;
    max-height: 500px;
    /* Defina uma altura máxima para o menu quando aberto (ajuste conforme necessário) */
  }
  
  #mainSesi {
    overflow-y: auto;
  }
  
  
  
  
  
  
  
  @media (max-width: 768px) {
  
    #mainSesi {
      width: 100%;
      padding: 10px;
      margin: 0;
    }
  
  
    .criar {
      display: flex;
      width: 35px;
    }
  
    #mainSesi {
      overflow-y: auto;
    }
  
  
    .criar p {
      position: absolute;
      top: 80vw;
  
      left: -100px;
      display: flex;
    }
  
    .note {
      width: 100%;
      margin: 0;
    }
  
    #asideSesi {
      display: none;
    }
  
    body {
      flex-direction: column;
    }
  
    .linha-vertical {
      display: none;
    }
  
    header {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .modal-content {
      width: 60vw;
    }
  
    .note {
      width: 100%;
      display: flex;
      align-items: center;
    }
  
    #mainSesi {
      width: 100%;
    }
  
    .criar {
      top: 100%;
    }
  
  
  
  
    .janela-modal {
      width: 100vw;
      height: 100vh;
      position: fixed;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.651);
      z-index: 99;
    }
  
    .janela-modal.abrir {
      display: flex;
    }
  
    .janela-modal .janela {
      width: 80%;
      background-color: rgba(255, 255, 255, 0.808);
      padding: 40px;
      border-radius: 10px;
    }
  
    .janela-modal .janela .titulo {
      color: #000000c2;
      font-size: 30px;
    }
  
    .janela-modal .janela .anexo {
      color: #000000a2;
      cursor: crosshair;
    }
  
    .janela-modal .janela p {
      text-align: justify;
    }
  
  
  
    .janela-modal .janela .salvar {
      color: #ffffff;
      background-color: #E5383B;
      border-radius: 10px;
      height: 4vh;
      width: 15%;
      border: none;
      margin-top: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .janela-modal .janela .salvar:hover {
      background-color: #e41c20;
    }
  
    .janela-modal .janela .salvar .fa-check {
      padding-right: 5px;
    }
  
  
  
  
  
    .nav-bar {
      padding: 1.5rem 4rem;
      background-color: #DA1E05;
    }
  
    .nav-item {
      display: none;
      background-color: #DA1E05;
      border-bottom: 1px solid white;
      padding-bottom: 2px;
  
    }
  
    .login-button {
      display: none;
      background-color: #DA1E05;
    }
  
    .mobile-menu-icon {
      display: block;
      background-color: #DA1E05;
      display: flex;
  
  
  
    }
  
    .logo {
      width: 100px;
    }
  
    .mobile-menu {
      display: flex;
      justify-content: start;
      flex-direction: column;
    }
  
    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
  
      padding-bottom: 1rem;
      background-color: #DA1E05;
  
  
    }
  
    .mobile-menu ul a {
      padding-left: 2%;
    }
  
    .mobile-menu img {
      width: 25px;
    }
  
    .mobile-menu .nav-item {
      padding-top: 1.2rem;
      display: flex;
      padding: 25px 0 25px 0;
  
    }
  
    .mobile-menu .nav-link {
      display: flex;
    }
  
    .mobile-menu .nav-link p {
      padding-left: 10px;
    }
  
    .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
    }
  
    .mobile-menu .login-button button {
      width: 100%;
    }
  
  
    .open {
      display: block;
    }
  
  
  }


.anotacaoDiv{
    background-color: #D9D9D9;
    /* border-radius: 4px; */
    width: 230px;
    height: 300px;
    padding: 16px 16px 20px 16px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.anotacaoDiv p {
    width: 100%;
    height: auto;
    word-wrap: break-word; /* Permite a quebra de palavras longas */
    overflow-wrap: break-word; /* Compatível com navegadores modernos */
    white-space: normal; /* Garante que o texto será quebrado em múltiplas linhas */
    overflow: hidden; /* Opcional: Esconde o texto que ultrapassa */
}
.anotacaoDiv h4{
    font-size: 20px;
}
#mainSesi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mainSesi div.titulo{
    font-size: 32px;
    font-weight: 700;
}
#anotacoesDiv{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6vw;
    width: auto;
    min-width: 62vw;/* Define um limite para centralizar */
    padding-bottom: 20px;
    height: 85vh;
    overflow-y: auto;
    scrollbar-width: none;
    
}

.fa-trash, .fa-eye, .fa-x{

    cursor: pointer;
    transition: opacity 0.3s ease, color 0.3s ease; 
}

.fa-trash:hover, .fa-eye:hover, .fa-x:hover {
    color: red;
}

.noview {
    display: none;
}

.tooltip {
    display: none;
    position: absolute;
    /* Ajuste a posição conforme necessário */
    left: 65px;
    top: 0px;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1;
}
.eye .tooltip{
    left: -50px;
}
.iconDiv{
    position: relative;
}

.iconDiv:hover .tooltip {
    display: block;
}
.botoes{
    display: flex;
    justify-content: space-between;
}
.janela{
    position: relative;
}
.fa-x{
    position: absolute;
    right: 50px;
}


#FormTitulo {
    width: 100%;
    margin-top: 10px;
}

#input_Titulo {
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.5;
    margin: 0;
    width: 100%;
}

.textarea {
    width: 95%;
    height: 250px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    resize: none;
}

#textareaTopico2 {
    margin-top: 4%;
}
.textos{
  display: flex;
  flex-direction: column;
  max-height: 90%;
  gap: 15px;
}