body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* Começo aside Sesi */

#asideSesi {
    padding: 0 20px;
    width: 21%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    border-right: 1px black solid;
  }

#logoSesi {
    display: flex;
    justify-content: center;
    cursor: pointer;
}




/* input pesquisa */
#formPesquisa {
    display: flex;
    border: 2px solid #E5383B;
    border-radius: 35px;
    padding: 1.5%;
    align-items: center;
    margin: 10px 0 20px 0;
}

#iconSearch {
    background-color: #E5383B;
    padding: 5px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

#inputPesquisa {
    border: none;
    outline: none;
    font-size: 15px;
    margin: 0 10px 0 10px;
}
/* fim input pesquisa */




/* box icons */
#aside_BoxIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boxIcon {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#boxIcon:hover {
    background-color: #D3D3D3;
}

.titleBoxIcon {
    font-size: 18px;
    color: #E5383B;
}

.imgIcon {
    margin-right: 18px;
}

/* fim box icons */



/* input container */
.input-container {
    margin-top: 8%;
    display: inline-block;
    position: relative;
}

.custom-input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #6e6e6e;
    background-color: white;
    border: 1px solid #f44336;
    border-radius: 5px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    min-width: 200px;
    justify-content: space-between;
}

.custom-input .arrow {
    font-size: 12px;
    margin-left: 10px;
    color: #6e6e6e;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f44336;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;
}

.dropdown li {
    padding: 8px 10px;
    color: #6e6e6e;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #D3D3D3;
}

/* fim input container */

/* Sair */
#sair, #salvar {
    display: flex;
    align-items: center;
    background-color: #E5383B;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 10px;
    margin-top: 8%;
    cursor: pointer;
}

#iconExit {
    margin-right: 8px;
}

/* fim Sair */


/* linha vertical */
.linha-vertical {
    width: 3px;
    background-color: #ccc;
    height: 100vh;
}

/* fim linha vertical */

/* começo da main */
#Conteudo {
    width: 45%;
    margin: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleBox{
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #6D1415;
}

#textareaObservacoes{
    margin-top: 4%;
    width: 95%;
    height: 450px;
    resize: none;
    background-color: rgba(229, 56, 59, 0.2);
    border: 3px solid #E5383B;
    border-radius: 10px;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
/* fim da main */

/* aside alunos */
#asideAlunos {
    width: 21%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: relative;
    height: 100vh; 

}

#alunosTitle{
    color: #E5383B;
}

.lista-alunos {
    width: 320px; 
    max-height: 530px; 
    overflow-y: auto; 
    padding: 10px;
  }
  
  .lista-alunos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .lista-alunos li {
    padding: 5px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 1% 3%;
    color: #6D1415; 
    cursor: pointer;
    border-radius: 5px;
  }

  .lista-alunos li:hover{
    background-color: #D3D3D3;
  }