body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


#sectionBtnVermelhos-responsivo {
  display: none;
}


/* Começo aside Sesi */

#asideSesi {
  padding: 0 20px;
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px black solid;
}

#logoSesi {
  display: flex;
  justify-content: center;
  cursor: pointer;
}




/* input pesquisa */
#formPesquisa {
  display: flex;
  border: 2px solid #E5383B;
  border-radius: 35px;
  padding: 1.5%;
  align-items: center;
  margin: 10px 0 20px 0;
}

#iconSearch {
  background-color: #E5383B;
  padding: 5px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

#inputPesquisa {
  border: none;
  outline: none;
  font-size: 15px;
  margin: 0 10px 0 10px;
}

/* fim input pesquisa */




/* box icons */
#aside_BoxIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#boxIcon {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  cursor: pointer;
}

#boxIcon:hover {
  background-color: #D3D3D3;
}

.titleBoxIcon {
  font-size: 18px;
  color: #E5383B;
}

.imgIcon {
  margin-right: 18px;
}

/* fim box icons */



/* input container */
.input-container {
  margin-top: 8%;
  display: inline-block;
  position: relative;
  /* necessário para o posicionamento do dropdown */
}

.custom-input {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #6e6e6e;
  background-color: white;
  border: 1px solid #f44336;
  border-radius: 5px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  min-width: 200px;
  justify-content: space-between;
}

.custom-input .arrow {
  font-size: 12px;
  margin-left: 10px;
  color: #6e6e6e;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #f44336;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 100%;
  /* faz o dropdown aparecer logo abaixo do botão */
  left: 0;
  width: 100%;
  display: none;
  /* inicialmente escondido */
  z-index: 1;
}

.dropdown li {
  padding: 8px 10px;
  color: #6e6e6e;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #D3D3D3;
}

/* fim input container */

/* Sair */
#sair {
  display: flex;
  align-items: center;
  background-color: #E5383B;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px 10px;
  margin-top: 8%;
  cursor: pointer;
}

#iconExit {
  margin-right: 8px;
}

/* fim Sair */


/* linha vertical */
.linha-vertical {
  width: 3px;
  background-color: #ccc;
  height: 100vh;
}

/* fim linha vertical */


/* começo conteudo da Main */
#Conteudo {
  width: 45%;
  margin: 3% 5%;
}

#title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  max-height: 480px;
}

#statsRow {
  color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1;
}

th,
td {
  padding: 15px;
  text-align: left;
  font-size: 16px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e7e6e6;
}

/* fim conteudo da Main */


/* botoes Switch */
/* From Uiverse.io by namecho */
.switch {
  cursor: pointer;
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #b4b4b4;
  --color-green: #3bee2a;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* fim botoes Switch */




/* Calendário */
#asideCalendario {
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

#calendario {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 7 colunas para os dias da semana */
  grid-template-rows: 40px repeat(6, 1fr);
  /* 1 linha fixa para os headers e 6 linhas flexíveis para os dias */
  height: 350px;
  /* Altura total fixa do calendário */
}

.day-header {
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 40px;
  /* Altura fixa para os headers */
  box-sizing: border-box;
}

.day {
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 15px;
}

.day.selected {
  background-color: #E5383B;
  color: white;
}

#calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 5%;
}

#prev-month,
#next-month {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

#prev-month:hover,
#next-month:hover {
  color: #007BFF;
}

/* fim Calendário */



#sectionBtnVermelhos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  font-family: 'Poppins', sans-serif;
}

#btnSave,
#btnSelectionAll {
  cursor: pointer;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #E5383B;
  border: none;
  color: white;
  font-size: 11px;
  border-radius: 12px;
  padding: 8px 20px;
  position: relative;
  /* Adicionado para o posicionamento do slider */
}

.material-symbols-outlined {
  margin-right: 10px;
}

/* Estilos do switch do botão de Selecionar Todos */
.switchAll {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.switchAll input[type="checkbox"] {
  display: none;
  /* Ocultar o checkbox */
}

.switchAll .slider {
  position: relative;
  width: 3.5em;
  /* Largura do slider */
  height: 2em;
  /* Altura do slider */
  background-color: #b4b4b4;
  /* Cor padrão do slider */
  border-radius: 50px;
  /* Borda arredondada */
  transition: background-color 0.3s;
  /* Transição suave */
  margin-right: 10px;
  /* Espaço entre o switch e o texto */
}

.switchAll .slider::after {
  content: "";
  /* Criar um elemento após o slider */
  position: absolute;
  top: 0.25em;
  /* Ajuste para centralizar verticalmente */
  left: 0.25em;
  /* Ajuste inicial do toggle */
  width: 1.5em;
  /* Largura do toggle */
  height: 1.5em;
  /* Altura do toggle */
  background-color: white;
  /* Cor do toggle */
  border-radius: 50%;
  /* Borda arredondada */
  transition: transform 0.3s;
  /* Transição suave */
}

/* Ativar o slider quando o checkbox estiver checado */
.switchAll input[type="checkbox"]:checked+.slider {
  background-color: #3bee2a;
  /* Cor quando ativado */
}

.switchAll input[type="checkbox"]:checked+.slider::after {
  transform: translateX(1.5em);
  /* Mover o toggle para a direita */
}

/* Efeito ao clicar no checkbox */
.switchAll input[type="checkbox"]:active+.slider::after {
  width: calc(1.5em + 0.2em);
  /* Aumentar o tamanho ao ser clicado */
}

#cabecalhoMobile{
  display: none;
}

/* responsivo */
@media screen and (max-width: 450px){

  #cabecalhoMobile{
    z-index: 2;
    position: absolute;
    display: block;
    width: 100%;
  }


  .flexDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
  }

  #areaLogoMobile{
    margin: 2% 0 0 0;
    width: 100px;
  }
  
  .logoMobile{
    width: 130px;
  }

  #dataMobile{
    height: auto;
    padding: 6px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
    background-color: #E5383B;
  }

  #iconeMobile{
    height: 30px;
    color: red;
  }

  #botoesMobile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    border-bottom: 3px solid white;
    border-top:3px solid white ;
    height: 70px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
  }
  
  #botoesMobile:hover{
   background-color: #6e2322;
  }

  .imgIconMobile{
    margin-left: 15px;
    width: auto;
    height: 35px;
  }

  .tituloIconeMobile{
    color: white;
    font-size: 20px;
  }

  .imgIcon{
    width: 50px;
    height: auto;
  }

  .linha-vertical{
    display: none;
  }

  #asideSesi{
    display: none;
  }

  #boxIconMobile{
    display: none;
    height: auto;
   }

  .linha-vertical {
    display: none;
  }

  #asideSesi,
  #asideCalendario {
    display: none;
  }

  #Conteudo {
    z-index: 1;
    width: 100%;
    margin: 0;
    display: block;
    align-items: center;
    padding: 0;
    margin: 18% 0 0 0;
  }

  #title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 8% 0 2% 0;
  }

  .table-container {
    width: 100%;
    overflow-y: auto;
    max-height: auto;
  }

  #statsRow {
    color: transparent;
  }

  #caixasConteudo {
    width: 90%;
    margin: 5%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
    z-index: 1;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    font-size: 12px;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #e7e6e6;
  }

  #sectionBtnVermelhos-responsivo {
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  #btnSave-responsivo,
  #btnSelectionAll-responsivo {
    cursor: pointer;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #E5383B;
    border: none;
    color: white;
    font-size: 6px;
    border-radius: 12px;
    padding: 2px 12px;
    position: relative;
    /* Adicionado para o posicionamento do slider */
  }

  .material-symbols-outlined {
    margin-right: 10px;
  }

  /* Estilos do switch do botão de Selecionar Todos */
  .switchAll {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .switchAll input[type="checkbox"] {
    display: none;
    /* Ocultar o checkbox */
  }

  .switchAll .slider {
    position: relative;
    width: 3.5em;
    /* Largura do slider */
    height: 2em;
    /* Altura do slider */
    background-color: #b4b4b4;
    /* Cor padrão do slider */
    border-radius: 50px;
    /* Borda arredondada */
    transition: background-color 0.3s;
    /* Transição suave */
    margin-right: 10px;
    /* Espaço entre o switch e o texto */
  }

  .switchAll .slider::after {
    content: "";
    /* Criar um elemento após o slider */
    position: absolute;
    top: 0.25em;
    /* Ajuste para centralizar verticalmente */
    left: 0.25em;
    /* Ajuste inicial do toggle */
    width: 1.5em;
    /* Largura do toggle */
    height: 1.5em;
    /* Altura do toggle */
    background-color: white;
    /* Cor do toggle */
    border-radius: 50%;
    /* Borda arredondada */
    transition: transform 0.3s;
    /* Transição suave */
  }

  /* Ativar o slider quando o checkbox estiver checado */
  .switchAll input[type="checkbox"]:checked+.slider {
    background-color: #3bee2a;
    /* Cor quando ativado */
  }

  .switchAll input[type="checkbox"]:checked+.slider::after {
    transform: translateX(1.5em);
    /* Mover o toggle para a direita */
  }

  /* Efeito ao clicar no checkbox */
  .switchAll input[type="checkbox"]:active+.slider::after {
    width: calc(1.5em + 0.2em);
    /* Aumentar o tamanho ao ser clicado */
  }
}